@import url("styles/header.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFF;
}

body {
    background-color: var(--cor-de-fundo);
}

h1 {
    background-color: white;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
}

.container__botao:checked~.lista-menu { /* Espécie de condicional. Se o container__botao estiver checked, então lista-menu recebe o estilo abaixo.*/
    display: block;
}